body {
  background: #002642;
  color: aliceblue;
  font-family: "Crete Rounds";
}

.gold {
  color: #e59500;
}

.welcome {
  color: aliceblue;
  font-size: 2rem;
  justify-content: center;
  font-family: Crete Rounds;
  transition: all 0.4s ease;
  padding: 150px;
  width: 50%;
}

.welcome:hover {
  font-size: 2.5rem;
}

@media (width < 1400px) {
  .welcome_container {
    flex-wrap: wrap;
  }

  .welcome {
    font-size: 2rem;
    left: 0;
  }

  .welcome:hover {
    font-size: 2.7rem;
    width: 100%;
  }
}
