@font-face {
    font-family: "Crete Rounds";
    src: url(fonts/CreteRound-Regular.ttf) format("truetype");
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    overflow-x: hidden;
}

.about{
    margin-left: 600px;
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background: #02040F;
    padding: 20px min(1%, 30px);
    box-sizing: border-box;
}
.btn, .btn:link, .btn:visited{
    color:#02040F;
    font-size: 130%;
    background: aliceblue;
    font-family: "Crete Rounds";
    padding: 20px min(2%, 30px);
    cursor: pointer;
    text-decoration: none;
    border-radius: 55px; 
    transition: transform 0.2s; 
    border: none;
}

.btn:hover{ 
    transform: scale(120%);
}

.search-bar{
    opacity: 0;
}
@media (width < 1400px){
    #container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .about{
        margin-left: 0;
    }



    
}