
.welcome_container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 10em 0;
}

.welcome{
    font-size: 40px;
    text-align: center;
    display: inline-block;
}

.description{
    margin-top: -50px;
}

.lan_img{
    background-color: aliceblue;
    border-radius: 30%;
    width: 200px;
    display: inline-block;
    margin: 0 80px;
    padding: 10px 60px;
}
