
.welcome_container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 10em 0em;
}

.welcome{
    font-size: clamp(0.5em, 2vw, 3rem);   
    text-align: center;
    display: inline-block;
    font-family: Crete Rounds;

}


.lan_img{
    position: relative;
    background-color: aliceblue;
    border-radius: 30%;
    display: block;
    margin: 0 10%;
    padding: 1% 10%;
    width: 40%;
    height: 50%;
}
