body{
    margin: 0;
}


#container{
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    max-height: 150px;
    height: 150px;
    border: solid 1px;
    background-color: #12161c;
    padding: 0 0 20px ;
}
a, a:link, a:visited, a:active{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#moon_img{
    width: 120px;
    height: 120px;
    border-radius: 25%;
    margin-right: 40%;
}
 #home{
    margin-left: 15%;
 }
